body{
margin:0;
padding:0;
font-family:Arial, Helvetica, sans-serif;

background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
min-height:100vh;

display:flex;
justify-content:center;
align-items:center;

color:white;
}

.container{

background:#111;

padding:40px;

border-radius:12px;

box-shadow:0 10px 30px rgba(0,0,0,0.6);

width:900px;
max-width:90%;

text-align:center;

border:2px solid gold;

}

h1{

color:gold;
margin-bottom:25px;

}

.input-box input{

width:90%;
padding:12px;

margin:10px 0;

border-radius:6px;

border:none;

outline:none;

background:#1c1c1c;

color:white;

border:1px solid violet;

}

button{

margin-top:15px;

padding:12px 25px;

border:none;

border-radius:6px;

background:linear-gradient(45deg,blue,violet);

color:white;

font-weight:bold;

cursor:pointer;

transition:0.3s;

}

button:hover{

transform:scale(1.05);

background:linear-gradient(45deg,gold,violet);

color:black;

}

.result-section{

margin-top:30px;

}

.result-card{

background:#0b0b0b;

padding:20px;

border-radius:10px;

border:1px solid gold;

box-shadow:0 5px 15px rgba(0,0,0,0.7);

}

pre{

color:#00ffea;

font-size:15px;

text-align:left;

white-space:pre-wrap;

}


/* Audit Log Table */

table{
width:100%;
min-width:600px;
}

th{

background:#222;

color:gold;

padding:10px;

border:1px solid gold;

}

td{

padding:10px;

border:1px solid #444;

font-size:13px;

}

tr:nth-child(even){

background:#1a1a1a;

}

.logs-section{
margin-top:35px;
overflow-x:auto;
}

.result-card{
background:#0b0b0b;
padding:20px;
border-radius:10px;
border:1px solid gold;
box-shadow:0 5px 15px rgba(0,0,0,0.7);
margin-top:20px;
}

.result-card.success{
border:2px solid #00ffae;
}
